.my-recipe-tabs {
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    margin-top: 50px;
}

.my-recipe-tabs h2 {
    /* text-transform: uppercase; */
    letter-spacing: 2px;
}

.my-recipe-tabs h2:hover {
    background-color: var(--yellow);
    text-decoration: underline;
    cursor: pointer;
}


.my-recipe-tabs div {
    margin-left: 15px;
    margin-right: 15px;
}


.active-tab {
    text-decoration: underline;
    width: auto;
}

.active-tab h2 {
    background-color: var(--yellow);
}

#no-recipes {
    position: absolute;
    width: fit-content;
    /* margin-right: 100px; */
    /* right: 35vw; */
}
