.edit-ingredient-container, .edit-instruction-container, .edit-recipe-form {
    /* background-color: var(--pale-blue); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingredient-input-container, .instruction-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.ingredient-input-container div:not(.submit-edit-button-container){
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.submit-edit-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 10px
}

.submit-edit-button-container .arrow-button{
    margin-left: 15px;
}

.delete-ing-button-container {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding:0
}

.delete-ing-button-container div{
    margin-left: 2%;
}
