/* .user-info span {
    margin-left: 15px;
} */

.single-recipe-view {
    margin-left: 20%;
    margin-right: 30%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5%;
}

.recipe-header-container {
    /* word-break: break-all; */
    overflow-wrap: break-word;
}

.single-image-container {
    width: 100%;
}

.single-image-container img {
    /* max-height: 40%; */
    width: 100%;
    object-fit: cover;
}

.bubble {
    position: relative;
    font-family: sans-serif;
    font-size: 16px;
    /* line-height: 22px; */
    /* width: 300px; */
    /* background: #fff; */
    border-radius: 2px;
    padding: 8px;
    text-align: center;
    font-family: 'SpaceGrotesk';
    color: var(--dark-blue);
    /* z-index: 1 */
  }

  .bubble-bottom-left:before {
    content: "";
    /* width: 0px; */
    /* height: 0px; */
    position: absolute;
    border-left: 6px solid var(--tan);
    /* border-right: 3px solid transparent; */
    border-top: 2px solid var(--tan);
    border-bottom: 10px solid transparent;
    left: 24px;
    bottom: -10px;
  }

  .bubble-bottom-left:hover:before {
    /* background-color: yellow; */
    border-left: 6px solid var(--yellow);
    /* border-right: 12px solid transparent; */
    border-top: 2px solid var(--yellow);
    border-bottom: 10px solid transparent;

  }

.recipe-comment-info {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    background-color: var(--tan);
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 10px;
    align-self: flex-end;
}

.recipe-comment-info:hover {
    cursor: pointer;
    background-color: var(--yellow);
}

.posted-recipe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
    margin-top: 40px;
}

.posted-recipe span {
    margin-top: 3px;
}

.edit-button-container:not(.edit-button-container.ingredient) {
    display: flex;
    justify-content: space-between;
    width: 50px;
}

.header-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-button-container-ing {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.single-recipe-view h1 {
    width: fit-content;
    color: var(--off-black);
    font-family: Inter,Helvetica,sans-serif;
    /* letter-spacing: -.5px; */
    font-size: 50px;
    /* font-weight: 800; */
    text-transform: capitalize;
}

.recipe-title-holder {
    width: 80%;
}

.add-info {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: pink;
    box-shadow: 10px 10px var(--light-blue);
}

.add-info:hover{
    cursor: pointer;
}

.ingredient-container,
.ingredient-container div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ingredient-container div span:first-child,
.instruction-container div span:first-child{
    margin-right: 10px;
}

.ingredient-container div:first-child span:hover,
.instruction-container div:first-child span:hover,
.done:hover {
    cursor: pointer;
    color: var(--dark-blue);
}
.ingredient-container div div span:hover,
.instruction-container div div span:hover {
    cursor: pointer;
    color: red;
}

.instruction-container div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.done {
    margin-right: 10px;
    text-align: center;
    width: 100%;
}

.edit-pen {
    margin-right: 10px;
}

.recipe-facts {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    border: 1px solid var(--dark-blue);
    box-shadow: 5px 5px 0 var(--tan);
    padding: 15px 30px;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 90%;
    align-self: center;
}

.yellow-highlight {
    background-color: var(--yellow);
    text-decoration: underline 1px var(--dark-blue);
    width:fit-content
}

.facts-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-right: 50px; */
}

.facts-header {
    margin: 0;
    font-size: 22px;
    font-weight: 200;
    padding-top: 15px;
}

.facts {
    display: flex;
    justify-content: space-around;
}

.facts .edit-button-container {
    align-items: flex-end;
    /* justify-content: flex-end; */
}

.facts-left, .facts-right {
    display: flex;
}

.text-right {
    padding-right: 30px;
}

#icon-ketchup {
    width: 80px;
    /* margin-bottom: 20px; */
}

#icon-timer, #icon-servings {
    height: 40px;
    margin-top: 20px;
    margin-right: 15px;
}

.recipe-ref-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.jump-to-recipe {
    border: 1px solid var(--off-black);
    width: fit-content;
    padding: 2px 5px 2px 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    background-color: var(--yellow);
    align-self: center;
}

.jump-to-recipe:hover {
    background-color: white;
    transition: all .15s ease;
    cursor: pointer;
}

.jump-to-recipe h5 {
    margin: 0 5px;
    font-size: 16px;
    width: 152px;

}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 1px 1px 1px;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    border: 1px solid var(--off-black);
    color: var(--off-black);
    font-size: 12px;
    background-color: white;
}

.circle i {
    margin-left: 2px;
}

.line-container {
    display:flex;
    align-items: center;
    width: 100%;
}

.line {
    height: 1px;
    width: 100%;
    background-color: var(--off-black);
}

.recipe-ref-container {
    margin-bottom: 40px;
}

.posted-info {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 300px; */
}

.posted-recipe h5 {
    font-size: 18px;
    margin-right: 10px;
    color: var(--off-black);
    width: fit-content;
}

#recipe-description {
    /* color: var(--light-gray); */
    font-family: Inter,Helvetica,sans-serif;
    font-size: 1.25rem;
    color: var(--off-black);
    line-height: 1.44;
    text-align: left;
    padding: 0;
}

#recipe-description::first-letter {
    float: left;
    padding: 0.25rem 0.5rem 0 0.1875rem;
    font-size: 3.75rem;
    line-height: .84;
    text-transform: capitalize;
    color: var(--off-black)
    /* margin-top: -10px; */
}

.wavy-underline {
    text-decoration: underline 2px wavy var(--red-orange);
    text-underline-offset: 7px;
}

.straight-underline {
    text-decoration: underline 2px solid var(--red-orange);
    text-underline-offset: 7px;
}

.round-profile-pic {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 100%;
    border: 1px solid var(--off-black);
    margin-right: 10px;
    /* box-shadow: 1px 1px 1px 5px var(--light-gray); */
    /* box-shadow: 0 0 10px rgba(0,0,0,.3); */
}

.round-profile-pic img {
    height: 100%;
    transform: translate(-20px, 0);
    /* width: 55px; */
}

.header-button-container p::first-letter {
    font-weight: 700;
    /* font-size: 25px; */
    /* color: red; */
}

/* Recipe Likes */
.recipe-like-container {
    width: fit-content;
    /* height: fit-content; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid #1b4d7a;
    box-shadow: 2px 2px 0 #26b7c5;
    font-family: "SE Inter","Space Grotesk",Helvetica,sans-serif;
    /* font-size: .875rem; */
    /* font-weight: 600; */
    /* line-height: 1.21; */
    letter-spacing: -.01em;
    /* text-align: center; */
    background: #fbf9ee;
    color: #1b4d7a;
    border-radius: 3px;
    /* text-transform: none; */
    align-self: flex-end;
    margin-right: 5%;
}

.recipe-like-container:not(.logged-out):hover {
    cursor: pointer;
}

.recipe-like-container h3 {
    margin: 0;
    margin-right: 5px;
}

#sp-liked {
    color: var(--red-orange);
}

#sp-not-liked {
    color: var(--red-orange);
}
