.user-info span {
    margin-left: 15px;
}

.single-recipe-view {
    margin-left: 10%;
    margin-right: 10%;
}

.single-image-container {
    width: 100%;
}

.single-image-container img {
    /* max-height: 40%; */
    width: 100%;
    object-fit: cover;
}

.recipe-comment-info {
    display: flex;
    justify-content: space-between;
    /* width: 60%; */
    margin-top: 10px;
    margin-bottom: 10px;
    /* margin: 30px; */
}

.edit-button-container {
    display: flex;
}

.header-button-container {
    display: flex;
    align-items: center;
}
