.form-container {
    width: 90%;
    box-sizing: border-box;
}
.recipe-input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.recipe-form {
    background-color: pink;
    padding: 25px 25px 25px 5%;
    box-shadow: 10px 10px var(--light-blue);
}

.input-container{
    display: flex;
    flex-direction: row-reverse;
    width: 95%;
    justify-content: space-between;
    margin-top: 10px;
}

.input-container input, textarea {
    /* width: 50%; */
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
}

.input-container textarea {
    width: 80%;
    min-height: 80px;
}

.temp-container {
    display: flex;
    align-items: center;
}

input:focus + label, textarea:focus + label{
    color: var(--dark-blue);
    text-decoration: underline;
    background-color: var(--pale-blue);
}
