.navbar-container {
    display: flex;
    box-sizing: border-box;
    border-bottom: 2px solid black;
    position: sticky;
    top: 0;
    height: 100px;
    align-items: center;
    /* background-color: white; */
    justify-content: space-between;
    z-index: 1;
    background-color: var(--off-white);
}

/* logo css */
.logo-container {
    display: flex;
    margin-top: 30px;
    /* align-items: center; */
    justify-content: center;
    padding-left: 15%;
    /* width: 30%; */
}

.logo-container img {
    height: 80px;
}

.logo-container h1 {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    /* font-family: Arial, Helvetica, sans-serif */
}

/* spacing */
.auth-links {
    width: 75%;
    display: flex;
    margin-top: 30px;

    justify-content: flex-end;
    align-items: center;
}

.right-link-container {
    width: 75%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.active {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    width: 150px;
    height: 70px;
    /* background-color: var(--off-white); */
    background-color: white;
}
