#liked, #not-liked {
    color: var(--red-orange);
    font-size: 30px;
    align-self: flex-end;
    /* height: 40px; */
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    /* top: 470px; */
    /* position: relative; */
    /* left: 50%; */

}

#logged-out-like {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 10px; */
}

#like-login-prompt {
    margin: 0;
    color: var(--red-orange);
    font-size: 14px;
    width: 100%;
    padding-top: 0;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 10px;
}
