.homepage {
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.banner {
    display: flex;
    /* justify-content: ; */
    border-bottom: 1px solid var(--off-black);
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.welcome-ribbon {
    height: 50px;
    width: 100%;
    background-color: var(--dark-blue);
    padding-bottom: 10px;
}

.banner-image-container {
    /* height: 10%; */
    overflow: hidden;
}

.banner-image-container img {
    /* height: 700px; */
    /* object-fit: cover; */
    transform: translate(0, -40%);
}

.taxonomy-bar {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    height: 100%;
    width: 25px;
    background-color: var(--yellow);
    border-right: 1px solid var(--off-black);
    border-left: 1px solid var(--off-black);
    padding-left: 2px;
    padding-right: 2px;
    /* padding-bottom: 5px; */
}

.banner-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 25px;
    /* align-items: ; */
}

.welcome-ribbon-text {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* padding-bottom: 15px; */
    /* line-height: 2em; */
    /* padding-left: 2vw;
    padding-right: 2vw; */
}

.welcome-ribbon-text span:first-child {
    color: var(--off-white);
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.welcome-ribbon-text span:nth-child(2) {
    color: var(--yellow);
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.welcome-ribbon-text span:nth-child(3) {
    color: var(--pale-blue);
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.welcome-ribbon-text h3:first-child() {

}

.welcome-ribbon-text h3:nth-child(2) {
    color: var(--off-white);
    font-family: roboto;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
}
