.recipes-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 25px;
    row-gap: 50px;
    padding-left: 20vw;
    padding-right: 20vw;
    margin-top: 25px;
}

.view-container {
    display: flex;
    flex-direction: column;
}

#all-recipes {
    /* color: var(--off-black);
    letter-spacing: 5px;
    font-size: 50px;
    margin-bottom: 5px; */
    color: var(--off-black);
    font-size: 50px;
    margin-top: 70px;
    font-weight: 400;
    font-family: 'Roboto';
    letter-spacing: -1.5px;
    font-stretch: expanded;
    margin-bottom: 5px;
}

#all-recipes-header {
    width: 100%;
}

.view-container .tag {
    background-color: var(--pale-blue);
    width: 75px;
    display: flex;
    text-align: center;
    text-justify: center;
    font-weight: 100;
}
.view-container .tag:hover {
    background-color: var(--yellow);
    transition: all .15s ease-in;
}

.page-header-underline {
    background: linear-gradient(90deg,#99f2fb 7.15%,#fff 91.53%);
    border: 2px solid #333;
    border-radius: 70px;
    height: 8px;
    margin-bottom: 50px;
    width: 100%;
}
