.recipes-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 25px;
    row-gap: 50px;
    padding-left: 20vw;
    padding-right: 20vw;
}

.view-container {
    display: flex;
    flex-direction: column;
    /* box-sizing: border-box; */
    /* margin-left: 10%;
    margin-right: 10%; */
}

#all-recipes {
    /* text-transform: uppercase; */
    color: var(--dark-blue);
    background-color: var(--yellow);
    letter-spacing: 5px;
    text-decoration: underline;
    font-size: 50px;
    /* text-decoration: underline 3px wavy var(--red-orange);
    text-underline-offset: 7px; */
}

.view-container .tag {
    background-color: var(--pale-blue);
    width: 75px;
    display: flex;
    text-align: center;
    text-justify: center;
    font-weight: 100;
}
.view-container .tag:hover {
    background-color: var(--yellow);
    transition: all .15s ease-in;
}

.page-header-underline {
    background: linear-gradient(90deg,#99f2fb 7.15%,#fff 91.53%);
    border: 2px solid #333;
    border-radius: 70px;
    height: 8px;
    margin-bottom: 32px;
}
